@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('~bootstrap/dist/css/bootstrap.min.css');

:root {
    --azul-claro: #a5d7ee;
    --branco-painel-texto: #ffffff;
    --cinza-claro: #dddddd48;
    --cinza: #525252;
    --azul-escuro: #25325c;
    --verde-ciano: #54e0b6;
    --vermelho-claro: #ff3939;
    --imagem-fundo: url('../assets/fundo-azul-2.jpg');
}

* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

body {
    background-color: var(--cinza-claro) !important;
}

/* TOGGLE POSITION STATIC QUANDO OFFCANVAS ATIVO - TODOS MENOS EXCEÇÕES */
.offcanvas-active *:not(.offcanvas):not(.offcanvas *):not(.navbar):not(.navbar *) {
    position: static !important;
}

/* ESCONDE LABELS E REMOVE DISABLED DOS BOTÕES QUANDO OFFCANVAS ATIVO */
.offcanvas-active label {
    display: none !important;
}

.offcanvas-active .btn:disabled {
    pointer-events: auto !important;
    opacity: 1 !important;
    position: static !important;
}