@import url('../assets/static.css');

#cad-main {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cad-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--imagem-fundo);
    background-size: cover;
    z-index: -1;
}

#cad-section {
    background-color: var(--branco-painel-texto);
    width: 450px;
    height: 600px;
    border-radius: 30px;
    z-index: 1;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.455);
    border: 2px solid var(--azul-escuro);

    #cad-grid{   
        display: grid;
        height: 100%;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        overflow: hidden;
        
        #logo {
            grid-column: 1/-1;
            grid-row: 1/3;
            justify-self: center;
            align-self: flex-end;
            margin-bottom: 10px;
            
            
            span {
                font-size: 4.5em;
                color: var(--azul-claro);
            }
        }

        #cad-inputs {
            grid-column: 2/-2;
            grid-row: 3/-3;
            justify-self: center;
            align-self: center;

            .label {
                color: var(--cinza);
            }

            .input {
                transition: all ease-in-out .2s;
                box-sizing: border-box;
                width: 100%;
                height: 35px;
                margin-bottom: 5px;
                border-radius: 10px;
                text-indent: 10px;
                outline: none;
                color: var(--azul-escuro);
                border: 1px solid var(--cinza);
                background-color: var(--branco-painel-texto);
                cursor: pointer;
            }
            
            .input:hover {
                border: 1.6px solid var(--verde-ciano);
                padding: 5px;
            }

            .input:focus {
                border: 2px solid var(--verde-ciano);
            }

            .input:last-child {
                margin: 0;
                background-color: var(--azul-claro);
                font-weight: 600;
                font-size: 1.1em;
                height: 45px;
                border: none;
            }
            .input:last-child:hover {
                background-color: var(--azul-escuro);
                color: var(--branco-painel-texto);
                padding: 0;
            }

            .input:last-child:focus {
                background-color: var(--verde-ciano);
                color: var(--branco-painel-texto);
            }
        }

        #cad-login {
            grid-column: 2/-2;
            grid-row: -4/-1;
            justify-self: center;
            align-self: center;

            .link{
                font-size: .9em;
                color: var(--azul-escuro);
                text-decoration: none;
            }
            .link:hover {
                text-decoration: underline;
            }
        }
    }
}